*{
  margin: 0;
  padding: 0;
}
#loadinggif{
  width: 100%;
  height: 100vh;
  background:white url(https://cdn.dribbble.com/users/1186261/screenshots/3718681/_______.gif) no-repeat center;
  position: fixed;
  z-index: 99;
  background-size: 60vh;
}


header{
  position: absolute;
  height: 100px;
  width: 100px;
}

