* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* z-index: 1; */
}
#loadinggif {
  background: url(../../static/images/);
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  background-size: 60vh;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 20vw;
  height: 20vw;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 10vw 10vw;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background: rgb(255, 147, 147);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background:linear-gradient(to right, rgba(255, 208, 222, 0.4),rgba(204, 246, 255, 0.4));
}
a{
  text-decoration: none;
}
.user-select-none{
  user-select: none;
}
.button {
  cursor: pointer
  /* etc*/
  ;
}
header {
  background: url(../images/bg4.png) no-repeat;
  background-attachment:fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height:100vh;
  box-shadow: 0 0 20px  grey;
}

.invisibleme {
  animation: invisible;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.options {
  display: none;
}

.options div {
  justify-items: right;
  width: 30px;
  height: 2px;
  margin: 5px 0px 5px 5px;
  background-color: azure;
}


ul {
  width: fit-content;
  height:100%;
  list-style-type: none;
  color:azure;
  display: flex;
  justify-content: space-evenly;
}



#prophilepicdiv {
  align-self: center;
  margin-top: 80px;
  background-image: url(../images/prophile.jpg);
  background-size: cover;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  align-content: center;
  box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
  border: thick double white;
  transition-property: border;
  transition-duration: 500ms;
}

#name-div{
  margin-top: 24px;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color:azure;
}

#tagline{
  text-align: center;
  font-size: 2.4rem;
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color:azure;
}


@keyframes showme {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
  
}

.center-div-header {
  display: flex;
  width: 80%;
  margin-top: 10vh;
  justify-content: space-evenly;
}

@keyframes invisible {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }

}

.hidden {
  display: block;
}

@media screen and (max-width:768px) {

  .options {
    cursor: pointer;
    display: block;
    margin-right: 2vh;
  }

  .navbutton {
    height: 18vh;
  }

  .responsive-column {
    display: flex;
    flex-direction: column;
  }
  header {
    height: 750px;
  }

  .center-div-header {
    margin-top: 2vh;
    width: 90%;
  }
}